<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>

    <select id="login" resultType="member">
        select * from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>

    <select id="memberList" resultType="member">
        select * from member_table;
    </select>

<!--    파라미터 타입은 크게 상관없음 -> 보내기만 하면 되니까 -->
    <select id="id" resultType="member" parameterType="Long">
        select * from member_table where id=#{id}
    </select>

<!--    <delete id="delete" parameterType="Integer">-->
<!--        delete from member_table where id=#{delete}-->
<!--    </delete>-->

    <delete id="delete" parameterType="Long">
        delete from member_table where id=#{id}
    </delete>

    <select id="memberEmail" resultType="member" parameterType="String">
        select * from member_table where memberEmail = #{memberEmail}
    </select>

    <update id="update" parameterType="member">
        update member_table set memberName=#{memberName}, memberAge=#{memberAge}, memberMobile=#{memberMobile} where id=#{id}
    </update>

    <select id="duplicateCheck" parameterType="String" resultType="String">
        select memberEmail from member_table where memberEmail=#{insertEmail}
    </select>

<!--    <select id="detailMember" resultType="member" parameterType="Long">-->
<!--        select * from member_table where id=#{id}-->
<!--    </select>-->

<!--    <select id="loginCheck" resultType="member" parameterType="String">-->
<!--        select memberEmail from member_table where memberEmail = #{insertEmail}-->
<!--    </select>-->





</mapper>














